{% extends "common_pages/common_layout.html" %}

{% block content %}
    <div class="bg">
        <main role="main" class="container main-box">
            <div class="jumbotron" style="background-color: #e9ecef;">
                <h1 align="center">Welcome to the Labeling Machine</h1>
                <br>
                <br>
                <br>
                <p class="lead">Excited to get your hands dirty?</p>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="/signin" method="post">
                        <div class="form-row">
                            <div class="col-12 col-md-6 mb-2 mb-md-0">
                                <input name="user" type="text" class="form-control form-control-lg"
                                       pattern=".{3,20}"   required title="3 to 20 chars"
                                       placeholder="Enter your name..." >
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Start now!</button>
                            </div>
                        </div>
                    </form>
                </div>
{#                <span class="lead">#}
{#                        Or have a look at your ranking:#}
{#                        <a href="/stat" class="btn btn-secondary" style="margin-left: 2rem;"> Stats </a>#}
{#                </span>#}
            </div>
        </main>
    </div>
    <script>
        document.getElementById('navbar-home').classList.add('active');
        document.getElementById('navbar-home').setAttribute('href', '#');
        document.getElementById('navbar-labeling').remove();
        document.getElementById('navbar-reviewing').remove();
    </script>
{% endblock %}