html {
    height: 100%;
}

.main-box {
    margin-top: 5rem;
}

.bg {
    background: url("../img/home_bg.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.navbar-dark .navbar-brand {
	color: #ffe53c;;
}

.badges {
    margin-right: 50px;
}


span.badge1::after {
    color: yellow;
    content: "●";
}

span.badge2::after {
    color: silver;
    content: "●";
}

span.badge3::after {
    color: brown;
    content: "●";
}

a[target="_blank"]:after
{
    background-image: url("../img/external-link.png");
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    content:"";
}

.navbarPadding {
  padding-top: 3.5rem;
}

.headerPadding {
    padding-top: 3rem;
}

table{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}